.navbar-inverse {
  background: #fefefe;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);

  .nav-item {
    .nav-link {
      font-weight: 600;
      font-size: 20px;
      color: #3f4a3c !important;
    }

    .nav-iklan {
       color: #54e346 !important;
    }
  }

  .btn-login {
    color: #54e346;
    border: 2px solid #54e346;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;

    &:hover {
      color: #fff;
      background-color: #54e346;
    }
  }
}
