.detail-photo {
  width: 100%;
  position: relative;

  .foto-room {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    background-color: #e3e3e3;
    display: flex;
    padding: 8px 20px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;

    span {
      font-size: 15px;
      font-weight: 500;
      color: #423f3f;
    }
  }

  .detail-photo-room {
    position: absolute;
    left: 15px;
    bottom: 15px;
    z-index: 3;
    padding: 10px 14px;
    font-size: 19px;
    color: #393939;
    font-weight: 600;
    outline: none;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #fff;
  }
}
